body, html {
  width: 100%;
}

html {
  background-color: #c7c7c7;
  width: 1200px;
  height: 600px;
}

a, a:visited, a:active {
  color: #444;
}

.h1 {
  font-size: 100px;
}

/* modal */
.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 9999999;
  transition: all 150ms ease-in;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 150ms ease-in;
}

.modal-close__btn {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms ease-in;

}

.modal-close__btn:hover {
  color: #b62840;
  transform: rotate(-90deg);
}

.title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: initial;
  transition: all 100ms ease-in;
  text-transform: uppercase;
  font-weight: 900;
}

.modal .title {
  margin-bottom: 4rem;
}

.modal .text {
  margin-bottom: 4rem;
}

.main-description {
  font-size: 1.4rem;
}

.source__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease-in;
  border-bottom: 2px solid transparent;
}

.source__link:hover {
  border-bottom: 2px solid #b62840;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.container {
  max-width: fit-content;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 950px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

/* #charts_container {
    height: 200vh;
    width: 150vw;
    margin-top: 25px;
} */

#toolbar {
  margin-top: 10px;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.type {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.source {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.industry {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .8;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight: bold;
}

.footer {
  text-align: center;
}


























