body, html {
  width: 100%;
}

/* html {
  background-color: #c7c7c7;
  width: 1200px;
  height: 600px;
} */

pre {
  display: none;
}

a, a:visited, a:active {
  color: #444;
}

.h1 {
  font-size: 100px;
}


/* sources */
/* .sources {
  z-index: 99999;
  position: relative;
} */

/* global */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  /* background-color: #fcfdef; */
  width: 113vw;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Darker Grotesque", sans-serif;
}


/* main */

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  /* box-shadow: 0px 0px 15px rgba(0,0,0,.08); */
}
.header_content {
  flex: 1;
  padding-right: 3rem;  
  max-width: 750px;
}
.header_tooltop {
  min-width: 420px;
}
.main_header {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: initial;
  transition: all 100ms ease-in;
  /* text-transform: uppercase; */
  font-weight: 900;
  margin-left: -90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_btn-group {
  margin-right: 2rem;
}

.header-chart_btn {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 100ms ease-in;
  border-bottom: 2px solid transparent;
  position: relative;
  
}

.header-chart_btn:hover {
  border-bottom: 2px solid #b62840;
  text-decoration: none;
  color: #000;
}

.header-chart_btn.active {
  border-bottom: 2px solid #b62840;
  text-decoration: none;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  color: #000;
}

.header-chart_btn:hover .nav_dropdown {
  opacity: 1;
  visibility: visible;
}

/* nav dropdown */
.nav_dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
  z-index: 9999;
  text-transform: initial;
  min-width: 150px;
  transition: all 150ms ease-in;
  /* font-size: .8rem; */
}

.nav_dropdown:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid black;
  left: 2%;
  top: -8px;
}

/* sources */
.sources {
  z-index: 99999;
  position: relative;
}

/* header */
.header {
  z-index: 99999;
  position: relative;
}
/* .header_link {
  color: rgb(85, 61, 61);
  transition: all 100ms ease-in;
}

.header_link:hover {
  color: #777;
}
.header_link i {
  font-size: 2rem;
} */

/* i.fab.fa-angellist {
  font-size: 1.9rem;
} */


.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.header_content {
  flex: 1;
  padding-right: 3rem;  
  max-width: 650px;
}

.main_header {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: initial;
  transition: all 100ms ease-in;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sources */
.sources {
  z-index: 99999;
  position: relative;
}

/* header */
.header {
  margin-left: 5rem;
  z-index: 99999;
  position: relative;
}

.header_link {
  color: rgb(85, 61, 61);
  transition: all 100ms ease-in;
}

.header_link:hover {
  color: #777;
}
.header_link i {
  font-size: 2rem;
}

i.fab.fa-angellist {
  font-size: 1.9rem;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
    font-size: 4rem;
}
.fa-github-square{
    color: white;
    background: black;
    border-radius: 60px;
    font-size: 4rem;
}


.header_link-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-right: 22rem;
}

.fab {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover {
    opacity: 0.7;
}

i.fab.fa-angellist {
  font-size: 1.9rem;
}


.header_btn-group {
  margin-left: 2rem;
  font-size: 16px;
}

/* nav dropdown */
.nav_dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
  z-index: 9999;
  text-transform: initial;
  min-width: 150px;
  transition: all 150ms ease-in;
  /* font-size: .8rem; */
}

.nav_dropdown:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid black;
  left: 2%;
  top: -8px;
}


/* modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(207, 202, 202, 0.8);
  z-index: 9999999;
  transition: all 150ms ease-in;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  transition: all 150ms ease-in;
}

.close {
  display: none;
}

.close-modal-btn {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem; 
  font-size: 1.6rem;
  cursor: pointer;
  /* padding: 1rem; */
  transition: all 200ms ease-in;
  font-size: 30px;
}

.close-modal-btn:hover .close-modal-btn:focus{
  color: #b62840;
  transform: rotate(-90deg);
  
} 

.modal .title {
  margin-top: 3rem;
}

.modal .text {
  margin-bottom: 2rem;
}

.main_description {
  font-size: 1.4rem;
}

.source_link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease-in;
  border-bottom: 2px solid transparent;
  
}

.source_link:hover {
  border-bottom: 2px solid #b62840;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
/* modal
.button {
  background: coral;
  padding: 1em 2em;
  color: #fff;
  border: 0;
}

.button:hover {
  background: #333;
}

.modal {
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 9999999;
  transition: all 150ms ease-in; */
  /* display: none; */
  /* position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: pink;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 150ms ease-in; */
  /* background-color: blue;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); */

/* }

.close {
  display: none;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms ease-in;

}

.closeBtn:hover, .closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(-90deg);
}

.title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: initial;
  transition: all 100ms ease-in;
  text-transform: uppercase;
  font-weight: 900;
}

.modal .title {
  margin-bottom: 4rem;
}

.modal .text {
  margin-bottom: 4rem;
}

.main-description {
  font-size: 1.4rem;
}

.source__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease-in;
  border-bottom: 2px solid transparent;
}

.source__link:hover {
  border-bottom: 2px solid #b62840;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}  */

.container {
  max-width: fit-content;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 950px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

/* #charts_container {
    height: 200vh;
    width: 150vw;
    margin-top: 25px;
} */

#toolbar {
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.type {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.source {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.industry {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .8;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight: bold;
}

.footer {
  text-align: center;
}


























