html {
    position: relative;
    min-height: 100vh;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 1000vw;
    height: 60vh;
    line-height: 60px;
    background-color: white;
}

/* nav dropdown */
.nav__dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
  z-index: 9999;
  text-transform: initial;
  min-width: 150px;
  transition: all 150ms ease-in;
}

.nav__dropdown:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid black;
  left: 2%;
  top: -8px;
}




.header__img {
  width: 21px;
}

.main__description {
  font-family: "Roboto", sans-serif;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.graph__container {
  height: calc(100vh - 100px);
  width: calc(100vw);
  display: block;
  display: flex;
  justify-content: center;
}