html {
    position: relative;
    min-height: 100vh;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 1000vw;
    height: 60vh;
    line-height: 60px;
    background-color: white;
}